duckduckgo-search==6.1.7
httpx==0.27.0
langchain==0.2.6
langchain-community==0.2.6
langchain-core==0.2.11
langgraph==0.1.5
langchain-experimental @ git+https://github.com/lalanikarim/langchain@tool-calling-mixin#egg=langchain-experimental&subdirectory=libs/experimental


